# Guided Project: Exploring Hacker News Posts

## About

In this project I will work with a data set of submissions posted to the website Hacker News. The data set has been reduced substantially from 300k rows to 20k; this was done by removing submissions that did not recieve any comment and randomly sampling the rest.

The project requires specific attention and interest on posts whose titles begin with either **Ask HN** or **Show HN**. **Ask HN** is used to submit a question and **Show HN** is used to show something. 

The purpose of the project is to compare the two post types and determine the following:
 * Do Ask HN or Show HN recieve more comments on average? 
 * Do posts created at a certain time recieve more comments on average?
 
## Data Set
 
 The data set contains
 
 ## Remember to fill in markdown cells before posting this to github

# Instructions
1. Start by adding a title and writing a paragraph in a markdown cell introducing the project and the data set. The title and the introduction are tentative at this point, so don't spend too much time here â€” you can come back at the end of your work to refine them.
2. Read the hacker_news.csv file in as a list of lists.
     * Assign the result to the variable hn.
3. Display the first five rows of hn.

In [19]:
from csv import reader

opened_file = open('hacker_news.csv')
read_file = reader(opened_file)
hn = list(read_file)
print(hn[:5])

[['id', 'title', 'url', 'num_points', 'num_comments', 'author', 'created_at'], ['12224879', 'Interactive Dynamic Video', 'http://www.interactivedynamicvideo.com/', '386', '52', 'ne0phyte', '8/4/2016 11:52'], ['10975351', 'How to Use Open Source and Shut the Fuck Up at the Same Time', 'http://hueniverse.com/2016/01/26/how-to-use-open-source-and-shut-the-fuck-up-at-the-same-time/', '39', '10', 'josep2', '1/26/2016 19:30'], ['11964716', "Florida DJs May Face Felony for April Fools' Water Joke", 'http://www.thewire.com/entertainment/2013/04/florida-djs-april-fools-water-joke/63798/', '2', '1', 'vezycash', '6/23/2016 22:20'], ['11919867', 'Technology ventures: From Idea to Enterprise', 'https://www.amazon.com/Technology-Ventures-Enterprise-Thomas-Byers/dp/0073523429', '3', '1', 'hswarna', '6/17/2016 0:01']]

## Instructions 
1. extract the first row of data, and assign it to the variable **headers**
2. remove the first row from hn
3. display **headers**
4. display the first five rows of **hn** to verify that you removef the header row properly

In [24]:
headers = hn[0]
hn = hn[1:]
print(headers)
print(hn[:5])

['10975351', 'How to Use Open Source and Shut the Fuck Up at the Same Time', 'http://hueniverse.com/2016/01/26/how-to-use-open-source-and-shut-the-fuck-up-at-the-same-time/', '39', '10', 'josep2', '1/26/2016 19:30']
[['11964716', "Florida DJs May Face Felony for April Fools' Water Joke", 'http://www.thewire.com/entertainment/2013/04/florida-djs-april-fools-water-joke/63798/', '2', '1', 'vezycash', '6/23/2016 22:20'], ['11919867', 'Technology ventures: From Idea to Enterprise', 'https://www.amazon.com/Technology-Ventures-Enterprise-Thomas-Byers/dp/0073523429', '3', '1', 'hswarna', '6/17/2016 0:01'], ['10301696', 'Note by Note: The Making of Steinway L1037 (2007)', 'http://www.nytimes.com/2007/11/07/movies/07stein.html?_r=0', '8', '2', 'walterbell', '9/30/2015 4:12'], ['10482257', 'Title II kills investment? Comcast and other ISPs are now spending more', 'http://arstechnica.com/business/2015/10/comcast-and-other-isps-boost-network-investment-despite-net-neutrality/', '53', '22', 'Deinos', '10/31/2015 9:48'], ['10557283', 'Nuts and Bolts Business Advice', '', '3', '4', 'shomberj', '11/13/2015 0:45']]

## Instructions

Create three empty lists called ask_posts, show_posts, and other_posts.
Loop through each row in hn.
Assign the title in each row to a variable named title.
Because the title column is the second column, you'll need to get the element at index 1 in each row.
Implement the following steps:
If the lowercase version of title starts with ask hn, append the row to ask_posts.
Else if the lowercase version of title starts with show hn, append the row to show_posts.
Else append to other_posts.
Check the number of posts in ask_posts, show_posts, and other_posts

In [67]:
ask_posts = []
show_posts = []
other_posts = []
for row in hn:
    title = row[1]
    if (title.lower().startswith('ask hn')):
        ask_posts.append(row)
    elif (title.lower().startswith('show hn')):
        show_posts.append(row)
    else:
        other_posts.append(row)
print(len(ask_posts))
print(len(show_posts))
print(len(other_posts))
print(ask_posts[:5])
print(show_posts[:5])

1744
1162
17192
[['12296411', 'Ask HN: How to improve my personal website?', '', '2', '6', 'ahmedbaracat', '8/16/2016 9:55'], ['10610020', 'Ask HN: Am I the only one outraged by Twitter shutting down share counts?', '', '28', '29', 'tkfx', '11/22/2015 13:43'], ['11610310', 'Ask HN: Aby recent changes to CSS that broke mobile?', '', '1', '1', 'polskibus', '5/2/2016 10:14'], ['12210105', 'Ask HN: Looking for Employee #3 How do I do it?', '', '1', '3', 'sph130', '8/2/2016 14:20'], ['10394168', 'Ask HN: Someone offered to buy my browser extension from me. What now?', '', '28', '17', 'roykolak', '10/15/2015 16:38']]
[['10627194', 'Show HN: Wio Link  ESP8266 Based Web of Things Hardware Development Platform', 'https://iot.seeed.cc', '26', '22', 'kfihihc', '11/25/2015 14:03'], ['10646440', 'Show HN: Something pointless I made', 'http://dn.ht/picklecat/', '747', '102', 'dhotson', '11/29/2015 22:46'], ['11590768', 'Show HN: Shanhu.io, a programming playground powered by e8vm', 'https://shanhu.io', '1', '1', 'h8liu', '4/28/2016 18:05'], ['12178806', 'Show HN: Webscope  Easy way for web developers to communicate with Clients', 'http://webscopeapp.com', '3', '3', 'fastbrick', '7/28/2016 7:11'], ['10872799', 'Show HN: GeoScreenshot  Easily test Geo-IP based web pages', 'https://www.geoscreenshot.com/', '1', '9', 'kpsychwave', '1/9/2016 20:45']]

## Instructions
Find the total number of comments in ask posts and assign it to total_ask_comments.
Set total_ask_comments to 0.
Use a for loop to iterate over the ask posts.
Because the num_comments column is the fifth column in ask_posts, you'll need to get the element at index 4 in each row.
You'll also need to convert the value to an integer so that we can calculate the sum of all the comments.
Add this value to total_ask_comments.
Compute the average number of comments on ask posts and assign it to avg_ask_comments.
Print avg_ask_comments.
Find the total number of comments in show posts and assign it to total_show_comments.
Set total_show_comments to 0.
Use a for loop to iterate over the show posts.
Because the num_comments column is the fifth column in show_posts, you'll need to get the element at index 4 in each row.
You'll also need to convert the value to an integer so that we can calculate the sum of all the comments.
Add this value to total_show_comments.
Compute the average number of comments on show posts and assign it to avg_show_comments.
Print avg_show_comments.
Do show posts or ask posts receive more comments on average? Write a markdown cell explaining your findings.

In [76]:
total_ask_comments = 0
for row in ask_posts:
    num_comments = row[4]
    num_comments = int(num_comments)
    total_ask_comments += num_comments
avg_ask_comments = total_ask_comments / len(ask_posts)
print(avg_ask_comments)
total_show_comments = 0
for row in show_posts:
    total_show_comments += int(row[4])
avg_show_comments = total_show_comments / len(show_posts)
print(avg_show_comments)

14.038417431192661
10.31669535283993

Data indicates that ask posts recieve more comments. THis can be expected though, it is not odd that questions are recieving more interactions than regular show posts

## Instructions

1. Import the datetime module as dt.
2. Create an empty list and assign it to result_list. This will be a list of lists.
3. Iterate over ask_posts and append to result_list a list with two elements:
    The first element shall be the column created_at.
     Because the created_at column is the seventh column in ask_posts, you'll need to get the element at index 6 in each row.
    The second element shall be the number of comments of the post.
You'll also need to convert the value to an integer.
Create two empty dictionaries called counts_by_hour and comments_by_hour.
Loop through each row of result_list.
Extract the hour from the date, which is the first element of the row.
Use the datetime.strptime() method to parse the date and create a datetime object.
Use the string we want to parse as the first argument and a string that specifies the format as the second argument.
Use the datetime.strftime() method to select just the hour from the datetime object.
If the hour isn't a key in counts_by_hour:
Create the key in counts_by_hour and set it equal to 1.
Create the key in comments_by_hour and set it equal to the comment number.
If the hour is already a key in counts_by_hour:
Increment the value in counts_by_hour by 1.
Increment the value in comments_by_hour by the comment number.

In [168]:
import datetime as dt
result_list = []
for row in ask_posts:
    created_at = row[6]
    num_comments = int(row[4])
    each_list = [created_at, num_comments]
    result_list.append(each_list)
counts_by_hour = {}
comments_by_hour = {}
for row in result_list:
    date = row[0]
    num_comments = row[1]
    dt_object = dt.datetime.strptime(date, '%m/%d/%Y %H:%M')
    dt_hour = dt_object.strftime('%H')
    if dt_hour not in counts_by_hour:
        counts_by_hour[dt_hour] = 1
        comments_by_hour[dt_hour] = num_comments
    else:
        counts_by_hour[dt_hour]+=1
        comments_by_hour[dt_hour]+=num_comments
print(counts_by_hour)
print(comments_by_hour)
print(num_comments)

{'09': 45, '13': 85, '10': 59, '14': 107, '16': 108, '23': 68, '12': 73, '17': 100, '15': 116, '21': 109, '20': 80, '02': 58, '18': 109, '03': 54, '05': 46, '19': 110, '01': 60, '22': 71, '08': 48, '04': 47, '00': 55, '06': 44, '07': 34, '11': 58}
{'09': 251, '13': 1253, '10': 793, '14': 1416, '16': 1814, '23': 543, '12': 687, '17': 1146, '15': 4477, '21': 1745, '20': 1722, '02': 1381, '18': 1439, '03': 421, '05': 464, '19': 1188, '01': 683, '22': 479, '08': 492, '04': 337, '00': 447, '06': 397, '07': 267, '11': 641}
2

In the last screen, we created two dictionaries:

counts_by_hour: contains the number of ask posts created during each hour of the day.
comments_by_hour: contains the corresponding number of comments ask posts created at each hour received.
Next, we'll use these two dictionaries to calculate the average number of comments for posts created during each hour of the day.

To illustrate the technique, let's work with the following dictionary:

sample_dict = {
                'apple': 2, 
                'banana': 4, 
                'orange': 6
               }
Suppose we wanted to multiply each of the values by ten and return the results as a list of lists. We can use the following code:

fruits = []
â€‹
for fruit in sample_dict:
    fruits.append([fruit, 10*sample_dict[fruit]])
Below are the results:

[['apple', 20], ['banana', 40], ['orange', 60]]
In the example above, we:

Initialized an empty list (of lists) and assigned it to fruits.
Iterated over the keys of sample_dict and appended to fruits a list whose:
First element is the key from sample_dict.
Second element is the value corresponding to that key multiplied by ten.
Let's use this format to create a list of lists containing the hours during which posts were created and the average number of comments those posts received.
Instructions

Use the example above to calculate the average number of comments per post for posts created during each hour of the day.
The result should be a list of lists in which the first element is the hour and the second element is the average number of comments per post. Assign the result to a variable named avg_by_hour. Display the results.

In [171]:
avg_by_hour = []
for hour in comments_by_hour:
    avg_by_hour.append([hour, comments_by_hour[hour]/counts_by_hour[hour]])
print(avg_by_hour)

[['09', 5.5777777777777775], ['13', 14.741176470588234], ['10', 13.440677966101696], ['14', 13.233644859813085], ['16', 16.796296296296298], ['23', 7.985294117647059], ['12', 9.41095890410959], ['17', 11.46], ['15', 38.5948275862069], ['21', 16.009174311926607], ['20', 21.525], ['02', 23.810344827586206], ['18', 13.20183486238532], ['03', 7.796296296296297], ['05', 10.08695652173913], ['19', 10.8], ['01', 11.383333333333333], ['22', 6.746478873239437], ['08', 10.25], ['04', 7.170212765957447], ['00', 8.127272727272727], ['06', 9.022727272727273], ['07', 7.852941176470588], ['11', 11.051724137931034]]

In [245]:

swap_avg_hour = []
for row in avg_by_hour:
    reverse_list = [row[1], row[0]]
    swap_avg_hour.append(reverse_list)
sorted_swap = sorted(swap_avg_hour, reverse=True)
print('Top Five Hours For Ask Post Comments')
for row in sorted_swap[:5]:
    hour = row[1]
    avg = row[0]
    dt_object = dt.datetime.strptime(hour, '%H')
    dt_hour = dt_object.time()
    dt_hour = dt_hour.strftime('%H:%M')
    output = '{h}: {a:.2f} average comments per post'.format(h=dt_hour, a=avg)
    print(output)

Top Five Hours For Ask Post Comments
15:00: 38.59 average comments per hour
02:00: 23.81 average comments per hour
20:00: 21.52 average comments per hour
16:00: 16.80 average comments per hour
21:00: 16.01 average comments per hour